@charset "UTF-8";

body {
    background-color: rgb(133, 160, 133);
    font-family: arial;
    font-size: 20px;
    }

h1 {
    color: rgb(28, 186, 192);
    background-color: rgb(10, 5, 157);
    }

h2 {
    color: darkred;
    }

p {
    text-align: justify;
    }